html, body { 
    background: url(../imgs/carpenters.JPG) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;

}

#container {

    position:relative;
    background-repeat: inherit;
    min-height: 80%;
    opacity: 0.3;

}

#introduction {
    background-color: rgba(0, 0, 0, 0.7);
    border-style: solid;
    border-color: rgba(10, 100, 0, 0.7);
        
}





