.navbar-brand {
    font-size: 30px;
    text-transform: uppercase;
    color: black;
    padding-top: 0.8em;

}

.container-fluid {
    background-color: #006400;
    font-size: 20px;
    font-weight: normal;
    color: black;
    height: 70px;

}
#bs-example-navbar-collapse-1 {
    padding-top: 0.5em;
    background-color: #006400;

}
.navbar-default .navbar-brand{
    color: white;
}
.navbar-default .navbar-nav>li>a{
    color: white;
}
.navbar {
    z-index: 9999;
}

