.navbar-brand {
    font-size: 25px;
    text-transform: uppercase;
    color: black;
    padding-top: 1em;

}

.container-fluid {
    background-color: #006400;
    font-size: 20px;
    font-weight: normal;
    color: black;
    height: 65px;

}
#bs-example-navbar-collapse-1 {
    padding-top: 0.5em;
    background-color: #006400;
    padding-left: 15px;
}
.navbar-default .navbar-brand{
    color: white;
}
.navbar-default .navbar-nav>li>a{
    color: white;
}
.navbar {
    z-index: 1000;
}

#collapse-btn {
    margin-top: 0.8em;
}

.navbar-collapse.collapse.in {
    display: block!important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: rgb(0, 150, 0);
    border-radius: 25px;
}

@media (max-width: 900px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}


